# Prepend ~/.local/bin and ~/bin to $PATH unless it is already there
if ! [[ "$PATH" =~ "$HOME/bin" ]]
then
    PATH="$HOME/bin:$PATH"
fi
if ! [[ "$PATH" =~ "$HOME/.local/bin:" ]]
then
    PATH="$HOME/.local/bin:$PATH"
fi
export PATH

{{ if eq .chezmoi.os "linux" }}
export PATH="$PATH:/var/home/niko/.local/share/JetBrains/Toolbox/scripts"
export SSH_AUTH_SOCK="$HOME/.var/app/com.bitwarden.desktop/data/.bitwarden-ssh-agent.sock"
{{ end }}

{{ if eq .chezmoi.os "darwin" }}
export SSH_AUTH_SOCK="~/.bitwarden-ssh-agent.sock"
eval "$(/opt/homebrew/bin/brew shellenv)"
{{ end }}
#
