{{ if eq .chezmoi.os "darwin" }}
Host *
    IdentityAgent "~/.bitwarden-ssh-agent.sock"
    IdentitiesOnly yes
{{ end }}

Host github.com
    HostName github.com
    PreferredAuthentications publickey
    IdentityFile ~/.ssh/github-auth.pub

{{ if not .is_work }}
{{ (bitwarden "item" "Dotfiles - SSH Config - Personal").notes }}
{{ end }}

{{ if .is_work }}
{{ (bitwarden "item" "Dotfiles - SSH Config - Work").notes }}
{{ end }}