{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh

set -e  # Exit on error

echo "[-] Starting package installation for Linux [-]"

echo "[-] Adding Taps to Homebrew [-]"
{{ range .packages.common.taps -}}
brew tap {{ . | quote }}
brew trust {{ . | quote }}
{{ end -}}

echo "[-] Installing Brews [-]"
{{ range .packages.common.brews -}}
brew install -yq {{ . | quote }}
{{ end -}}
{{ range .packages.linux.brews -}}
brew install -yq {{ . | quote }}
{{ end -}}

echo "[-] Installing Flatpaks [-]"

install_flatpak() {
    if ! flatpak list | grep -q "$1"; then
        echo "Installing $1..."
        flatpak install --user -y "$1"
    else
        echo "$1 is already installed"
    fi
}

{{ range .packages.linux.flatpak -}}
install_flatpak {{ . | quote }}
{{ end -}}

echo "[-] Installing VS Code extensions [-]"
{{ range .extensions.common.vscode -}}
if ! code --list-extensions | grep -qF {{ . | quote }}; then
    echo "Installing extension {{ . }}..."
    code --force --install-extension {{ . | quote }}
else
    echo "Extension already installed: {{ . }}"
fi
{{ end -}}

echo "[-] Package installation completed [-]"

{{ end -}}
